

.footer_box {
    background-color: rgb(34, 32, 44);
    padding: 0 2rem;
    height: 11rem;
    display: flex;
    justify-content: center;

    .copyright {
        text-align: center;
        font-size: .9rem;
        margin: .3rem;
        color: $color-text-light;
    }

    .social_links {
        width: 100%;
        display: none;
        margin-bottom: 2rem;
        display: flex;
        justify-content: flex-end;
        .social_bar_list {
            display: none;
            width: 100%;
            justify-content: space-around;
            .social_bar_item i {
                color: $color-text-light;
                font-size: 1.8rem;
            }
        }
    }
}

