

.contact_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem 3rem;
    background-color: $color-fourth;
    color: $color-text-light; 
}

.contact_title {
    @include box-title;
    margin-bottom: 2rem;
}

.contact_box form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_group {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        font-size: 1.3rem;
    }
}

.form_control {
    color: $color-text-light;
    outline: none;
    width: 90%;
    margin-left: .5rem;
    padding: .5rem;
    background: #353b48;
    display: block;
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 5px;
    box-shadow: 0 2px 4px  rgba(0,0,0, .12), 0 1px 1px 0 rgba(0,0,0, .24);
    transition: all .3s cubic-bezier(.25, .8, .25,1);

    &:focus {
        background: #454c5c;
        border: 1px solid $color-third;
    }
}

.btn_submit {
    cursor: pointer;
    margin: 1.5rem auto 0;
    color:  $color-third ;
    border: 2px solid $color-third;
    @include round;
    padding: .5rem .8rem;
    font-family: $body-font ;
    background-color: rgba(0, 0, 0, 0);

    &:hover{
        color: $color-text-light;
        border: 2px solid $color-text-light;
        transition: all .5s ease-in-out;
    }
}