
.header{
    background-color: $color-fourth;
    margin-bottom: 4rem;
}

.header_box_img {
    width: 100%;
    height: 60vh;
    .box_yellow {
        width: 80px;
        height: 200px;
        position: absolute;
        z-index: 9;
        top: 0;
        left: 50%;
        background-color: $color-third;
    }

    .box_img {
        width: 170px;
        position: absolute;
        z-index: $z-tooltip;
        top: 2em;
        left: 20%;
    }
}

.header_title {
    width: 100%;
    color: $color-text-light;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;

    .title_name{
        margin-left: 20%;
        font-size: $font-size-medium;
        font-weight: 600;
    }
    .title_surnames {
        margin-left: 20%;
        font-size: $font-size-big;
        font-weight: 800;
    }
    .title_position {
        margin: 0;
        margin-left: 30%;
        font-size: $font-size-title;
        font-weight: 400;

    }

    a {
        display: flex;
        justify-content: center;
    }

    .btn_download_cv {
        outline: none;
        cursor: pointer;
        margin: 1.5rem auto 0;
        color:  $color-third ;
        border: 2px solid $color-third;
        @include round;
        padding: .5rem .8rem;
        font-family: $body-font ;
        background-color: rgba(0, 0, 0, 0);

        &:hover{
            color: $color-text-light;
            border: 2px solid $color-text-light;
            transition: all .5s ease-in-out;
        }
    }

}