
.header{
    background-color: $color-fourth;
    margin-bottom: 4rem;
    @include mq(800px){
        display: flex; 
        align-items: flex-end;
    }
}

.header_box_img {
    width: 100%;
    @include mq(800px){
        display: flex;
        justify-content: flex-end;  
    }
    .box_yellow {
        width: 80px;
        height: 200px;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 60%;
        background-color: $color-third;
        @include mq(s){
            height: 250px;  
        }
        @include mq(m){
            left: 65%; 
            width: 100px;
            height: 300px; 
        }
        @include mq(800px){
            left: 43%; 
            width: 70px;
            height: 180px;
        }
        @include mq(l){
            height: 200px;  
        }
        @include mq(xl){
            height: 250px;
            width: 90px;  
        }
    }

    .box_img {
        width: 50%;
        position: relative;
        z-index: 2;
        margin: 2rem 0 1.5rem 20%;

        @include mq(s){
            width: 45%;   
        }
        @include mq(m){
            width: 40%; 
            margin-left: 30%;  
        }
        @include mq(800px){
            margin-right: 2rem;
        }
    }
}

.header_title {
    width: 100%;
    color: $color-text-light;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;

    .title_name{
        margin-left: 20%;
        font-size: $font-size-medium;
        font-weight: 600;
        @include mq(m){ 
            margin-left: 30%;  
        }
        @include mq(800px){
           margin-left: 5%; 
        }
    }
    .title_surnames {
        margin-left: 20%;
        font-size: $font-size-big;
        font-weight: 800;
        @include mq(m){ 
            margin-left: 30%;  
        }
        @include mq(800px){
            margin-left: 5%;
        }
    }
    .title_position {
        margin: 0;
        margin-left: 30%;
        font-size: $font-size-title;
        font-weight: 400;
        @include mq(m){ 
            margin-left: 40%;  
        }
        @include mq(800px){
           margin-left: 4rem; 
        }

    }

    a {
        display: flex;
        justify-content: center;
    }

    

}
.btn_download_cv {
    outline: none;
    cursor: pointer;
    margin: 1.5rem auto 0;
    color:  $color-third ;
    border: 2px solid $color-third;
    @include round;
    padding: .5rem .8rem;
    font-family: $body-font ;
    background-color: rgba(0, 0, 0, 0);
    &:hover{
        color: $color-text-light;
        border: 2px solid $color-text-light;
        transition: all .5s ease-in-out;
    }
}