
.app {
    width: 100vw;
    
}

.header {
    width: 100%;
}
.about_me_section {
    width: 100%;
}

.progress_bar_box {
    width: 100%;
}

.my_proyects_box {
    width: 100%;
}

.contact_box{
    width: 100%;
}